
<br />
<form class="form-inline" action="@Url.Action("ShowResults")" method="post">
    <input style="width: 100%;" class="form-control" 
           id="inputdefault" autofocus="autofocus" type="text" name="search" placeholder="Enter Keywords here..." required />
    <input style="width: 100%;" class="form-control" 
           id="inputdefault" autofocus="autofocus" type="url" placeholder="https://www.example.com" pattern="https://.*" name="searchurl" required />
    <button type="submit" class="btn btn-success">Custom Search</button><br /><br />
</form> 